# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/britxbtx/public_html/recipeapp"
PassengerBaseURI "/recipeapp"
PassengerNodejs "/home/britxbtx/nodevenv/public_html/recipeapp/10/bin/node"
PassengerAppType node
PassengerStartupFile server.js
PassengerAppLogFile "/home/britxbtx/logs"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END