@mixin animateRecipeListFade {
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: fade_in #{0.3 / ($i - $i / 1.20 )}s forwards;
      animation-delay: #{($i - $i / 2) * 0.2}s
    }
  }
}
@mixin animateRecipeListColor {
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) .recipe-item-animation-overlay {
      animation: fade_in_color #{0.3 / ($i - $i / 1.20 )}s forwards;
      animation-delay: #{($i - $i / 2) * 0.2}s
    }
  }
}
.recipe-item-animation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.recipe-item-name {
}
.recipe-list-group-item {
  @include animateRecipeListColor();
}
.fade-in {
  @include animateRecipeListFade();
}
.fade-in-color {
  @include animateRecipeListColor();
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}