@mixin animateRecipeListFade {
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: fade_in #{0.3 / (($i+1) - ($i+1) / 1.20 )}s forwards;
      animation-delay: #{($i - $i / 2) * 0.2}s
    }
    &:nth-child:hover(#{$i}) {
      background-color: rgba(209, 154, 154, 0.705);
    }
  }
}
@mixin animateRecipeListColor {
  @for $i from 1 through 1000 {
    &:nth-last-of-type(#{$i}) .recipe-item-animation-overlay { 
      animation: fade_in_color #{($i - $i / 1.05) * 1.8}s forwards;
      // animation-delay: #{($i - $i / 2) * 0.2}s
      opacity: #{1 / ($i/5)}
    }
  }
}
.recipe-item-animation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.recipe-list-group-item {
  @include animateRecipeListColor();
}
.fade-in {
  @include animateRecipeListFade();
}
.fade-in-color {
  @include animateRecipeListColor();
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade_in_color {
  from {
    // opacity: 0;
  }
  0% {
    background-color: rgba(209, 154, 154, 0.705);
    
  }
  17% {

    background-color: rgba(197, 172, 151, 0.705);
  }
  33% {
    opacity: 1;
    background-color: rgba(200, 200, 162, 0.705);
  }
  42% {
  }
  50% {
    background-color: rgba(160, 204, 165, 0.705);
  }
  67% {
    background-color: rgba(192, 179, 212, 0.705);
  }
  76%{
  }
  84% {
    background-color: rgba(214, 179, 179, 0.685);
  }
  92% {
  }
  to {
    // opacity: 1;
  }
}

// @keyframes fade_in_color {
//   from {
//     opacity: 0;
//   }
//   0% {
    
//     background-color: rgba(209, 154, 154, 0.705);
//   }
//   17% {
//     background-color: rgba(197, 172, 151, 0.705);
//   }
//   33% {
//     background-color: rgba(200, 200, 162, 0.705);
//   }
//   50% {
//     background-color: rgba(160, 204, 165, 0.705);
//   }
//   67% {
//     background-color: rgba(192, 179, 212, 0.705);
//   }
//   84% {
//     background-color: rgba(214, 179, 179, 0.685);
//   }
//   to {
//     opacity: 1;
//   }
// }