.featrd-rec-img {
  width: 100%;
}
.featured-recipe-container {
  p, h3, h4 {
    color: black;
    opacity: 0;
    animation: fade_in 0.5s forwards;
  }
  h4 {
    margin-top: 20px;
    font-weight: 400;
  }
  h3 {
    text-align: center;
  }
  img {
    opacity: 0;
    animation: fade_in 2s forwards;
  }
}
.featured-recipe-container:hover {
  text-decoration: none;
  h3 {
    color: rgb(75, 75, 75);
  }
}