.featrd-rec-img {
  width: 100%;
}
.featured-recipe-container {
  p, h3, h4 {
    color: black;
    opacity: 0;
    animation: fade_in 0.5s forwards;
  }
  h4 {
    margin-top: 20px;
    font-weight: 400;
    
    background: #ffe6cc;
    margin-bottom: 0;
    margin-top: 0 !important;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
  }
  h3 {
    text-align: center;
    background: #ffe6cc;
    border-bottom: 5px solid #39b6ff;
    margin-bottom: 0;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
  }
  img {
    opacity: 0;
    animation: fade_in 2s forwards;
  }
}
.featured-recipe-container:hover {
  text-decoration: none;
}