#home .react-multi-carousel-list {
  margin: 30px 0 0;
  opacity: 0;
  animation: fade_in 1s forwards;
}
.home-intro-text-center {
  text-align: center;
}
.react-multi-carousel-dot-list {
  margin: 20px 0;
}
h1 {
  opacity: 0;
  animation: fade_in 0.5s forwards;
}
h2 {
  opacity: 0;
  animation: fade_in 1s forwards;
}
h2:hover {
  opacity: 0;
}
.carousel-title {
  background: rgba(253, 253, 253, 0.781);
  /* border-radius: 30px; */
  color: black;
  margin: 0 20px 0;
  padding: 5px 10px;
  font-size: 17px;
  position: absolute;
    bottom: 0;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
  width: 100%;
}
.carousel-link-home:hover .carousel-title {
  margin-bottom: 10px;
  display: block;
  opacity: 1;
}
.carousel-title-link:hover {
  text-decoration: none;
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}