#home-banner {
  background: linear-gradient(rgb(253, 184, 94), rgb(255, 170, 73));
  height: 300px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home-h1-container {
  color: black;
  margin-top: 0 !important;
  padding: 0 0 20px;
  position: relative;
}
#home-h1 {
  margin: 0 !important;
  width: fit-content;
  margin-top: 0 !important;
  margin-left: 80px !important;
  @media(max-width: 991px){
    margin-left: 10% !important;
  }
  padding: 10px 20px;
  background: #ffe6cc;
  border-radius: 0px 0px 5px 5px;
  border-top: 5px solid rgb(57, 182, 255);
}
#home-carousel-container {
  padding: 20px 0 0;
}
.home-section-1 {
  align-items: center;
  background:  linear-gradient(rgb(224, 144, 38), rgb(207, 114, 78));
  background:  linear-gradient(rgba(224, 144, 38, 0.8), rgba(207, 114, 78, 0.8));
  height: 600px;
  color: black;
  padding: 50px 100px;
  @media(max-width: 991px){
    padding: 50px 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  margin-top: 50px;
}
.home-section-1.row > .col-lg {
  height: 100%;
  background-color: var(--wheatish);
  margin: 0 10px;
  border-radius: 5px;
}
.home-section-1.row > .col-lg:last-of-type {
  transition: transform 0.3s;
}
.home-section-1.row > .col-lg:last-of-type:hover {
  text-decoration: none;
  transition: transform 0.3s;
  transform: scale(0.95);
}
.home-intro-text-center {
  text-align: center;
}
.welcome-text {
  border-radius: 5px;
  height: 100%;
  padding: 20px 10px;
  h2 {
    margin-top: 25px;
  }
}