.home-main-cont-food-icon {
  width: 50%;
  margin: auto;
}
.welcome-text {
  display: flex;
  flex-direction: column;
  float: left;
  background: var(--wheatish);
}
.welcome-text h2, .welcome-text p {
  text-align: center;
}
