#home .react-multi-carousel-list {
  margin: 30px 0 0;
}
.react-multi-carousel-dot-list {
  margin-bottom: 20px;
}
h2 {
  opacity: 1;
  transition: 1s;
}
h2:hover {
  opacity: 0;
}
.carousel-title {
  background: rgba(253, 253, 253, 0.671);
  /* border-radius: 30px; */
  color: black;
  margin: 0 20px 10px;
  padding: 5px 10px;
  font-size: 17px;
  position: absolute;
    bottom: 0;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: 0.4s;
  width: 100%;
}
.carousel-link-home:hover .carousel-title {
  display: block;
  opacity: 1;
}
.carousel-title-link:hover {
  text-decoration: none;
}