
.large-recipe-container {
  width: 40%;
  @media(max-width: 991px){
    display: block;
    width: 100%;
    margin: 0 0 60px;
  }
  display: inline-block;
  margin: 0 20px 60px;
  p, h3, h4 {
    color: black;
    opacity: 0;
    animation: fade_in 0.5s forwards;
  }
  h4 {
    margin-top: 20px;
    font-weight: 400;
  }
  h3 {
    text-align: center;
  }
  img {
    opacity: 0;
    animation: fade_in 2s forwards;
  }
}
.large-recipe-container:hover {
  text-decoration: none;
  h3 {
    color: rgb(75, 75, 75);
  }
}
.large-recipes-home-title {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 60px;
  text-align:center;
}
.large-recipes-home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media(max-width: 991px){
    display: block;
  }
}