:root {
  --navHeight: 60px;
}
nav {
  background-color: rgb(211, 211, 211);
  height: 60px;
  height: var(--navHeight);
  padding: 0 20px !important;
}
.dropdown:hover .dropdown-menu {
  /* Display navbar on hover, except it doesn't work because click activation interferes */
  display: block;
}
.navbar-log-in-dropdown {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar-login-button {
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-login-button-link {
  /* height: 100%; */
  vertical-align: middle !important;
  color: #007bff;
}
.navbar-create-acc-button {
  padding: 0 15px !important;
}
.navbar-login-button-link:hover {
  color: #0056b3;
  cursor: pointer; 
}
.navbar-login-form {
  /* box-shadow: 0 0 3px 0.01px; */
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  top: calc(var(--navHeight) - 10px);
  right: 20px;
  background-color: rgb(248, 249, 250);
  padding: 20px;
  width: 300px;
  z-index: 1001;
}
.navbar-site-name {
  font-weight: 500;
}
.hidden {
  display: none !important;
}
.dropdown-item.active, .dropdown-item:active {
  color: black !important;
  text-decoration: none;
  background-color: transparent !important;
}
.dropdown-menu {
  background: #f8f9fa !important;
  left: auto !important;
  right: 0 !important;
  min-width: 17rem !important;
}