
.recipe-upload-form h2 {
  // position: absolute !important;
}
#recipe-info-heading {
  // position: static !important;
  margin-bottom: 20px;
}
.button-add {
  margin: 0 auto;
  width: 50%;
  // border-radius: 0 0 2px 2px !important;
  box-shadow: 0 0 5px 1px grey;
  display: block !important;
  border-radius: 0 0 10px 10px !important;
  @media (max-width: 575px){
    width: 75%;
  }
  &:hover {
    box-shadow: 0 0 15px 2px rgb(54, 175, 64);
  }
}
.button-remove {
  border-radius: 1000px !important;
  margin-left: 15px !important;
  height: fit-content;
}
.form-control {
  margin-bottom: 15px;
}
.ingredient-amount-container {
  display: flex !important;
  @media(max-width: 767px){
    display: block !important;
  }
  justify-content: space-between; 
  align-items: center;
  button {
    float: right;
  }
}
.ingredient-amount-container > div {
  width: 48%;
  @media(max-width: 767px){
    width: 100%;
  }
  display: inline-block;
}
.post-recipe-button {
  border-radius: 1000px !important;
  box-shadow: 0 0 5px 1px grey;
  display: block !important; 
  margin-top: 80px; 
  margin: 80px auto 0 !important;
  height: 50px;
  width: 50%;
  @media (max-width: 767px){
    width: 100%;
  }
}
.post-recipe-button:hover {
  box-shadow: 0 0 10px 2px rgb(0, 188, 235);
}
.remove-step-button {
 float: right;
 margin-bottom: 10px; 
}
.upload-section {
  margin-top: 50px;
}
.upload-section > .list-group {
}