.add-image-button {
  display: block !important;
  width:100%;
  margin-top: 10px;
}
h1 {
  text-align: center;
}
.ingredient-button-add {
  margin: 0 auto 20px;
  width: 100%;
  display: block !important;
}
.ingredient-button-remove {
  border-radius: 1000px !important;
  margin-left: 15px !important;
  height: fit-content;
}
.form-control {
  margin-bottom: 15px;
}
.ingredient-amount-container {
 display: flex !important;
 justify-content: space-between; 
 align-items: center;
}
.ingredient-amount-container:last-of-type {
  margin-bottom: 10px;
} 
.ingredient-amount-container > div {
  width: 48%;
  display: inline-block;
}
.remove-step-button {
 float: right;
 margin-bottom: 10px; 
}
.post-recipe-button {
  width: 100%;
  margin-top: 30px; 
}